.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 0;
}

.navbar{
    background-color:antiquewhite !important;
}

/* Konten */
section {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}